<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    {% include 'showout/header.html' %}
</head>
<body style="overflow: hidden;">
    {% include 'showout/navbar.html' %}
<div class="container-fluid" style="max-height: 100%;">
    <h3>Contact US</h3>
<div class="row">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d19572.00899547717!2d0.1540096!3d52.1797632!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2suk!4v1707424769381!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
  

</div>

<div style="margin-top: 15%;">

</div>

 {% include 'showout/footer.html' %}


</body>
</html>
