<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <style>
    body{
      overflow: hidden;
    }
     .textField{
      width: 70%;
      height: 40px;
      margin: 0 auto;
      padding: 10px;
      border: none; /* <-- This thing here */
      border:solid 1px #ccc;
      border-radius: 10px;
    }
  </style>
  <title>Showout</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
  
<div class="container-fluid" style="background-color: #eff2f7;">
  <div class="row">
    <div class="col-md-6"style="padding-top: 4rem " >
      
        <img src="{% static 'images/img.jpg' %}"  class="" height="30%"> 
    
    </div>
    <div class="col-md-6" style="margin-top: 6rem " >
      <div class="column" style="align-content: center;">
        
          <img src="{% static 'images/logo2.png' %}" style="width: 25%; height: 25;" class="img-fluid mx-auto d-block"> 
     
      <p class="text-center">Login into your account</p>
      <a  href="{% url 'register' %}"> <p class="text-center" >Don't have an account? Sign up</p></a><br>
        <form class="text-center" method="POST">
          {% csrf_token %}
          <input type="email" id="email" name="email" class="textField" placeholder="Email" ><br><br>
          <input type="password" id="password" name="password" class="textField" placeholder="Password"><br><br>
          <div class="row" style="padding-left: 50px;padding-right: 50px;">
            <div class="col-md-6">
              <input type="checkbox" >
              <label for="vehicle1"> Remember me</label><br>
              
            </div>
            <div class="col-md-6">
              <a  href="{% url 'reset_password' %}"> Forgot password</a>
            </div>
          </div>
          <br>
          <button  type="submit" class="btn btn-primary" style="width: 20rem;">Sign In</button>
          
        </form>
      </div>

    </div>

   
  </div>
</div>

</body>
</html>
