        <nav class="navbar navbar-expand-sm navbar-dark bg-light fixed-top" >
            <div class="container-fluid">
              <a class="navbar-brand" href="{% url 'home' %}"  style="color: black;">Logo</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto">
                  <li class="nav-item">
                    <a class="nav-link"  href="{% url 'home' %}" style="color: black;">ShowOut</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"  href="{% url 'contactUS' %}"style="color: black;">Contact Us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"  href="{% url 'aboutUS' %}"style="color: black;">About Us</a>
                  </li>
    
                </ul>
                <div  class="nav-item dropdown"style="margin-right: 20px;">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" style="color: black;">Account</a>
                  <ul class="dropdown-menu">
                    
                    <li><a class="dropdown-item"  href="{% url 'login' %}">Login</a></li>
                    <li><a class="dropdown-item" href="{% url 'profile' %}" href="#">Profile</a></li>
                  </ul>
                </div> 

                  <a style="text-decoration: none;" href="{% url 'wishlist' %}"> <div style="background-color: #D3D3D3;padding: 5px;"><i  href="#" style="color: red;">0 </i><i  style="color: black;" href="#">Wish List</i></div></a>
            
              
            
              </div>
            </div>
          </nav>


          <nav class="navbar navbar-expand-sm navbar-dark bg-light " style="margin-top: 60px;" >
            <div class="container-fluid">
              <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)"style="color: black;">Top Reviews</a>
                  </li>
                  <div   class="nav-item dropdown"style="margin-right: 20px;">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" style="color: black;">Categories</a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'viewServices' %}" >Category1</a></li>
                      <li><a class="dropdown-item"  href="{% url 'viewServices' %}" >Category2</a></li>
                      <li><a class="dropdown-item"  href="{% url 'viewServices' %}" >Category3</a></li>
                    </ul>
                  </div> 
    
                </ul>
                <form class="d-flex">
                  <input class="form-control me-2" type="text" placeholder="Search">
                 <a  href="{% url 'searchResult' %}" style="text-decoration: none;"><button class="btn btn-primary" type="button">Search</button></a> 
                </form>
            
              </div>
            </div>
          </nav>


         
          
