<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    {% include 'showout/customers/header.html' %}
</head>
<body>
    {% include 'showout/customers/navbar.html' %}
<div class="container-fluid" style="padding-left: 60px;height: 100%;">
  <!-- // vendors -->
    <div class="row"  style="width: 100%;padding-top: 20px;">
      <div class="col-sm-6 col-md-6 col-lg-6">
        <h3 style="text-align: left;">Profile</h3>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6">
        <a href="{% url 'editProfile' %}" style="text-decoration:none">  <p  style="text-align: right;padding-right: 30px;">Edit Profile</p></a>

       
      </div>
    </div>
  



</div>

<div style="margin-top: 100px;">

</div>

 
{% include 'showout/customers/footer.html' %}

</body>
</html>
