<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <style>
     .textField{
      width: 70%;
      height: 40px;
      margin: 0 auto;
      padding: 10px;
      border: none; /* <-- This thing here */
      border:solid 1px #ccc;
      border-radius: 10px;
    }
  </style>
  <title>Showout</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
  
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8"style="padding-right: 0;padding-left: 0;" >
      <figure class="figure-style">
        <img src="{% static 'images/cover.jpg' %}"  class="img-fluid"> 
    </figure>
    </div>
    <div class="col-md-4">
      <div class="column">
        <figure class="figure-style">
          <img src="{% static 'images/cover.jpg' %}" style="margin-top: 40px;"  width="100" height="50" class="img-fluid mx-auto d-block"> 
      </figure>
      <p class="text-center">Sign up into your account</p>
      <a  href="{% url 'customers/login' %}"> <p class="text-center" >Already have an account? Login here</p></a><br>
    
        <form action="/action_page.php" class="text-center">
            <input type="text" id="fname" name="fname" class="textField" placeholder="First name" ><br><br>
            <input type="text" id="lname" name="lname" class="textField" placeholder="Last name" ><br><br>
          <input type="email" id="email" name="email" class="textField" placeholder="Email" ><br><br>
          <input type="number" id="mobile" name="mobile" class="textField" placeholder="Contact number" ><br><br>
          <input type="password" id="password" name="password" class="textField" placeholder="Password"><br><br>
          <input type="password" id="confirm_password" name="confirm_password" class="textField" placeholder="Confirm password"><br><br>
         
          <input type="submit" formaction="/action_page2.php" value="Sign Up"  class="textField">
        </form>
      </div>

    </div>

   
  </div>
</div>

</body>
</html>
