<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    {% include 'showout/header.html' %}
    
    
</head>
<body>
    {% include 'showout/navbar.html' %}
    {% include 'showout/customers/rating_modal.html' with vendorService=vendorService %}
<div class="container-fluid" >
<div class="row" style="text-align: justify;padding: 20px;">
<div class="col-md-5" >
    <h3>{{vendorService.services.serviceName}}</h3>
    <figure class="figure-style">
        <img src="{{vendorService.services.imageURL}}" style="margin-top: 1.5rem; height: 30rem; width:95%;"  class="img-fluid mx-auto float-none d-block"> 
    </figure>
      
</div>
<div class="col-md-3" style="margin-top: 2.9rem;">
    <h5>Service details</h5>
   <p>
    {{vendorService.description}}
</p>

<h5>Contact information</h5>
<p>
  {{vendorService.vendor.email}}
</p>
<p>
  {{vendorService.vendor.country.countryName}}
</p>
<a href="https://{{vendorService.vendor.website}}"style="text-decoration: none;" target="_blank"><p>
  {{vendorService.vendor.website}}
</p></a> 
<p>
  <a href="{{vendorService.pdfURL}}">View Pdf</a>
</p>
    <span class="fa fa-star {% if vendorService.rating > 0 %}checked{% else %} {% endif %} "></span>
    <span class="fa fa-star {% if vendorService.rating > 1 %}checked{% else %} {% endif %}"></span>
    <span class="fa fa-star {% if vendorService.rating > 2 %}checked{% else %} {% endif %}"></span>
    <span class="fa fa-star {% if vendorService.rating > 3 %}checked{% else %} {% endif %}"></span>
    <span class="fa fa-star {% if vendorService.rating > 4 %}checked{% else %} {% endif %}"></span>
    {% if request.session.user_id  %}
   <a href="#" data-toggle="modal" data-target="#ratingModal" style="text-decoration: none;"> Review service </a>
   <p>{{reviewVendoreServices|length}} review(s)</p>
   {% endif %}
    <br><br> 
    
    <button style="font-size:24=px;margin-left: 0px; width: 15rem;" data-service="{{vendorService.vendorServicesId}}" 
    data-action="add" class="btn btn-success update-cart">Add to wishlist <i class="material-icons">favorite</i></button>

</div>
<div class="col-md-3" style="margin-top: 2.9rem;border-left: solid rgba(123, 119, 119, 0.067);  padding-top: 1rem; margin-left: 5rem;">
  <h5>All Reviews</h5>
  {% for review in reviewVendoreServices %}
 <p>
  Comment: {{review.review}}({{review.rating}})
</p>
{% endfor %}

</div>
</div>



  <!-- Modal-->
 

 <div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


  <!-- Modal ends-->
  

       <!-- Reccommended Vendors -->
       <hr>

    <div class="row"  style="width: 100%;padding-top: 20px;margin-left: 10px;">
        <div class="col-sm-6 col-md-6 col-lg-6">
          <h3 style="text-align: left;">Reccommended Services</h3>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <p  style="text-align: right;padding-right: 30px;"></p>
        </div>
      </div>
      
      <div class="row" style="margin-top: 20px; margin-left: 1rem;" >
        {% for vendorSimilarService in vendorSimilarServices %}
        {% include 'showout/customers/service_componeent.html' with vendorService=vendorSimilarService %}
        {% endfor %}
      </div>

</div>

<div style="margin-top: 100px;">

</div>

 
{% include 'showout/footer.html' %}

</body>
</html>
