{% load static %}
  {% if vendorService %}
  <div class="col-md-6">
        
    <div class="card" style="width:600px; height: 230px;">
      <div class="row">
        <div class="col-md-7">
          <a href="{% url 'servicePage' vendorId=vendorService.vendor.vendorId serviceId=vendorService.services.serviceId%}" style="text-decoration:none">
          <img class="card-img-top" height="230px" src="{% static 'images/cover.jpg' %}" alt="Card image">
        </a>
         </div>
         
         <div class="col-md-5">
          <div class="card-body">
            <h4 class="card-title">{{vendorService.service.serviceName}}</h4>
            <div style="margin-top: 5px;" class="card-text">{{vendorService.vendor.vendorName}}</div>
            <div  style="margin-top: 5px;" class="card-text">{{vendorService.services.serviceName}}</div>
  
            <div  style="margin-top: 5px;" class="card-text">Budget</div>
            <div style="margin-top: 10px;">
              <span class="fa fa-star {% if vendorService.rating > 0 %}checked{% else %} {% endif %} "></span>
              <span class="fa fa-star {% if vendorService.rating > 1 %}checked{% else %} {% endif %}"></span>
              <span class="fa fa-star {% if vendorService.rating > 2 %}checked{% else %} {% endif %}"></span>
              <span class="fa fa-star {% if vendorService.rating > 3 %}checked{% else %} {% endif %}"></span>
              <span class="fa fa-star {% if vendorService.rating > 4 %}checked{% else %} {% endif %}"></span>
            </div>
            <div style="margin-top: 10px;">
              <button data-service="{{vendorService.vendorServicesId}}" data-action="add" class="btn btn-success update-cart">Add to wishlist <i class="material-icons">favorite</i></button>
          
            </div>
          </div>
         </div>
  
      </div>
     
    </div>
  
  
  </div>
  {% endif %}