<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    {% include 'showout/header.html' %}
    
    
</head>
<body>
    {% include 'showout/navbar.html' %}
<div class="container-fluid" >
<div class="row" style="text-align: justify;padding: 20px;">
<div class="col-md-6">
    <h3>{{vendorService.services.serviceName}}</h3>
    <figure class="figure-style">
        <img src="{% static 'images/cover.jpg' %}" style="margin-top: 0px; height: 220px;width: 100%;"  class="img-fluid mx-auto float-none d-block"> 
    </figure>
      
</div>
<div class="col-md-6">
    <h5>Service details</h5>
   <p>
    {{vendorService.services.description}}
</p>

<h5>Contact information</h5>
<p>
  {{vendorService.vendor.email}}
</p>
<p>
  {{vendorService.vendor.country}}
</p>
<p>
  {{vendorService.vendor.website}}
</p>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span > <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">See reviews</button>
      
       
     
    </span>
        <button style="font-size:24px;margin-left: 40px;">Add to wishlist <i class="material-icons">favorite</i></button>


    
</div>
</div>



  <!-- Modal-->
 

 <div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


  <!-- Modal ends-->
  

       <!-- Reccommended Vendors -->

    <div class="row"  style="width: 100%;padding-top: 20px;margin-left: 10px;">
        <div class="col-sm-6 col-md-6 col-lg-6">
          <h3 style="text-align: left;">Reccommended Vendors</h3>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <p  style="text-align: right;padding-right: 30px;"></p>
        </div>
      </div>
      <div class="row" style="margin-left: 10px;">
        {% for vendorSimilarService in vendorSimilarServices %}
        <div class="col-md-6">
            <a href="{% url 'vendorPage' vendorId=vendorSimilarService.vendor.vendorId %}" style="text-decoration:none">
              <div class="card" style="width:600px; height: 200px;">
                <div class="row">
                  <div class="col-md-7">
                    <img class="card-img-top" height="200px" src="{% static 'images/cover.jpg' %}" alt="Card image">
                   </div>
                   <div class="col-md-5">
                    <div class="card-body">
                      <h4 class="card-title">{{vendorSimilarService.vendor.vendorName}}</h4>
                      <div style="margin-top: 5px;" class="card-text">{{vendorSimilarService.vendor.country}}</div>
                      <div  style="margin-top: 5px;" class="card-text">{{vendorSimilarService.vendor.website}}</div>
                      <div  style="margin-top: 5px;" class="card-text">{{vendorSimilarService.vendor.email}}</div>
                      <div style="margin-top: 10px;">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                      </div>
                    </div>
                   </div>
      
                </div>
               
              </div>
            </a>
           
         
          </div>
          {% endfor %}
        
        
      </div>

</div>

<div style="margin-top: 100px;">

</div>

 
{% include 'showout/footer.html' %}

</body>
</html>
