{% load static %}
{% if vendorService %}
<div class="row" >
    <div class="col-md-6">
      
      <div class="card" style="width:600px; height: 230px;">
        <div class="row">
          <a href="{% url 'servicePage' vendorId=vendorService.vendor.vendorId serviceId=vendorService.services.serviceId%}" style="text-decoration:none"></a>
          <div class="col-md-7">
            <img class="card-img-top" height="230px" src="{% static 'images/cover.jpg' %}" alt="Card image">
           </div>
             </a>
           <div class="col-md-5">
            <div class="card-body">
              <h4 class="card-title">{{vendorService.service.serviceName}}</h4>
              <div style="margin-top: 5px;" class="card-text">{{vendorService.vendor.vendorName}}</div>
              <div  style="margin-top: 5px;" class="card-text">{{vendorService.services.serviceName}}</div>

              <div  style="margin-top: 5px;" class="card-text">Budget</div>
              <div style="margin-top: 10px;">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
              <div style="margin-top: 10px;">
                <button data-service="{{vendorService.vendorServicesId}}" data-action="add" class="btn btn-success update-cart">Add to wishlist <i class="material-icons">favorite</i></button>
            
              </div>
            </div>
           </div>

        </div>
       
      </div>
    
   
    </div>

  </div>
  {% endif %}