<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    {% include 'showout/customers/header.html' %}
</head>
<body>
    {% include 'showout/customers/navbar.html' %}
<div class="container-fluid" style="padding-left: 60px;height: 100%;">
    <div class="row"  style="width: 100%;padding-top: 20px;">
      <div class="col-sm-6 col-md-6 col-lg-6">
        <h3 style="text-align: left;">Category name</h3>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6">
        <p  style="text-align: right;padding-right: 30px;"></p>
      </div>
    </div>
  
    <!-- Services -->
    <div class="row" style="margin-top: 20px;" >
      <div class="col-md-6">
        <a href="{% url 'customers/servicePage' %}" style="text-decoration:none">
        <div class="card" style="width:600px; height: 200px;">
          <div class="row">
            <div class="col-md-7">
              <img class="card-img-top" height="200px" src="{% static 'images/cover.jpg' %}" alt="Card image">
             </div>
             <div class="col-md-5">
              <div class="card-body">
                <h4 class="card-title">Service name</h4>
                <div style="margin-top: 5px;" class="card-text">Vebdors name</div>
                <div  style="margin-top: 5px;" class="card-text">Budget</div>
                <div style="margin-top: 10px;">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
                <div style="margin-top: 10px;">
                  <button style="font-size:24px">Add to wishlist <i class="material-icons">favorite</i></button>
              
                </div>
              </div>
             </div>

          </div>
         
        </div>
        </a>
     
      </div>
      
      <div class="col-md-6">
        <div class="card" style="width:600px; height: 200px;">
          <div class="row">
            <div class="col-md-7">
              <img class="card-img-top" height="200px" src="{% static 'images/cover.jpg' %}" alt="Card image">
             </div>
             <div class="col-md-5">
              <div class="card-body">
                <h4 class="card-title">Service name</h4>
                <div style="margin-top: 5px;" class="card-text">Vebdors name</div>
                <div  style="margin-top: 5px;" class="card-text">Budget</div>
                <div style="margin-top: 10px;">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
                <div style="margin-top: 10px;">
                  <button style="font-size:24px">Add to wishlist <i class="material-icons">favorite</i></button>
              
                </div>
              </div>
             </div>

          </div>
         
        </div>
     
      </div>
      
    </div>

    <div class="row" style="margin-top: 40px;" >
      <div class="col-md-6">
        <div class="card" style="width:600px; height: 200px;">
          <div class="row">
            <div class="col-md-7">
              <img class="card-img-top" height="200px" src="{% static 'images/cover.jpg' %}" alt="Card image">
             </div>
             <div class="col-md-5">
              <div class="card-body">
                <h4 class="card-title">Service name</h4>
                <div style="margin-top: 5px;" class="card-text">Vebdors name</div>
                <div  style="margin-top: 5px;" class="card-text">Budget</div>
                <div style="margin-top: 10px;">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
                <div style="margin-top: 10px;">
                  <button style="font-size:24px">Add to wishlist <i class="material-icons">favorite</i></button>
              
                </div>
              </div>
             </div>

          </div>
         
        </div>
     
      </div>
      
      <div class="col-md-6">
        <div class="card" style="width:600px; height: 200px;">
          <div class="row">
            <div class="col-md-7">
              <img class="card-img-top" height="200px" src="{% static 'images/cover.jpg' %}" alt="Card image">
             </div>
             <div class="col-md-5">
              <div class="card-body">
                <h4 class="card-title">Service name</h4>
                <div style="margin-top: 5px;" class="card-text">Vebdors name</div>
                <div  style="margin-top: 5px;" class="card-text">Budget</div>
                <div style="margin-top: 10px;">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
                <div style="margin-top: 10px;">
                  <button style="font-size:24px">Add to wishlist <i class="material-icons">favorite</i></button>
              
                </div>
              </div>
             </div>

          </div>
         
        </div>
     
      </div>
      
    </div>

</div>

<div style="margin-top: 100px;">

</div>

 
{% include 'showout/customers/footer.html' %}

</body>
</html>
