<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    {% include 'showout/header.html' %}
</head>
<body>
    {% include 'showout/navbar.html' %}
<div class="container-fluid" style="padding-left: 60px;height: 100%;">
    <div class="row"  style="padding-top: 20px;">
      <div class="col-sm-6 col-md-6 col-lg-6">
        <h3 style="text-align: left;">wishlist</h3>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6">
        {% if request.session.user_id  %}
        <form class="text-center" method="POST">
          {% csrf_token %}
        <button style="text-align: right;padding-right: 30px; margin-left: 30rem;" type="submit" class="btn btn-primary">Submit request</button>
      </form>
      {% else %}
      <a  href="{% url 'customerLogin' %}"> <button style="text-align: right;padding-right: 30px; margin-left: 30rem;" type="submit" class="btn btn-primary">Login</button> </a>
      {% endif %}
      </div>
    </div>
  
    <!-- Services -->
  
    <div class="row" style="margin-top: 20px;" >
      {%  for vendorService in vendorServices %}
    
      <div class="col-md-6" style="margin-top: 20px;">
        <a href="#" style="text-decoration:none">
        <div class="card" style="width:600px; height: 200px;">
          <div class="row">
            <div class="col-md-7">
              <img class="card-img-top" height="200px" src="{{vendorService.services.imageURL}}" alt="Card image">
             </div>
             <div class="col-md-5">
              <div class="card-body">
                <h4 class="card-title">{{vendorService.service.serviceName}}</h4>
                <div style="margin-top: 5px;" class="card-text">{{vendorService.vendor.vendorName}}</div>
                <div  style="margin-top: 5px;" class="card-text">{{vendorService.services.serviceName}}</div>
  
                <!-- <div  style="margin-top: 5px;" class="card-text">Budget</div> -->
                <div style="margin-top: 10px;">
                  <span class="fa fa-star {% if vendorService.rating > 0 %}checked{% else %} {% endif %} "></span>
                  <span class="fa fa-star {% if vendorService.rating > 1 %}checked{% else %} {% endif %}"></span>
                  <span class="fa fa-star {% if vendorService.rating > 2 %}checked{% else %} {% endif %}"></span>
                  <span class="fa fa-star {% if vendorService.rating > 3 %}checked{% else %} {% endif %}"></span>
                  <span class="fa fa-star {% if vendorService.rating > 4 %}checked{% else %} {% endif %}"></span>
                  {% if request.session.user_id  %}
                  <button  style="margin-top: 10px;" data-service="{{vendorService.vendorServicesId}}" data-action="remove" class="btn btn-success update-cart">Remove<i class="material-icons">delete</i></button>
                 {% endif %}
              
                </div>
                <div style="margin-top: 10px;">

                </div>
              </div>
             </div>

          </div>
         
        </div>
        </a>
     
      </div>
      {% endfor %}
    </div>

   



</div>

<div style="margin-top: 100px;">

</div>

 
{% include 'showout/footer.html' %}

</body>
</html>
