        
        
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" >
            <div class="container-fluid">
              <a class="navbar-brand" href="{% url 'home' %}">ShowOut</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto">
                  
                  <li class="nav-item">
                    <a class="nav-link"  href="{% url 'contactUS' %}">Contact Us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"  href="{% url 'aboutUS' %}">About Us</a>
                  </li>
    
                </ul>
                {% if request.session.customerName  %}
                <a  href="{% url 'customer_settings' %}"  style="color: white;">Welcome back {{request.session.customerName}}! </a>
                {% endif %}
                <div  class="nav-item dropdown"style="margin-right: 20px;">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" style="color: white;">Account</a>
               
                  <ul class="dropdown-menu  bg-light" >
                    {% if request.session.user_id  %}
                    <li><a class="dropdown-item"  href="{% url 'logout' %}">Logout</a></li>
                    <li><a class="dropdown-item" href="{% url 'requestsHistory' %}" href="#">Request history</a></li>
                    <li><a class="dropdown-item"  href="{% url 'customer_settings' %}">Settings</a></li>

                    {% else %}
                    <li><a class="dropdown-item"  href="{% url 'customerLogin' %}">Login</a></li>
                    {% endif %}
                  
                  </ul>
                </div> 

                  <a style="text-decoration: none;" href="{% url 'requests' %}"> <div ><button class="btn btn-light"><i  href="#" style="color: red;">{{ request.session.cart|length }} </i>Requests</button></div></a>
            
              
            
              </div>
            </div>
          </nav>


          <nav class="navbar navbar-expand-sm navbar-dark bg-light " style="margin-top: 60px;" >
            <div class="container-fluid">
              <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'topRatedServices' %}"style="color: black;">Top Reviews</a>
                  </li>
                  <div   class="nav-item dropdown"style="margin-right: 20px;">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" style="color: black;">Categories</a>
                    <ul class="dropdown-menu">
                      {% for category in categories %}
                      <li><a class="dropdown-item" href="{% url 'viewServices' categoryId=category.categoryId categoryName=category.categoryName %}" >{{category.categoryName}}</a></li>
                      {% endfor %}
                    
                    </ul>
                  </div> 
    
                </ul>
                <form class="d-flex" method="post" action="{% url 'searchResult' %}">
                  {% csrf_token %}
                  <input class="form-control me-2" type="text"  id="inputField" placeholder="Search by filtering" id="query" name="query">
                  <button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#filterModal">Filter</button>
                </form>

                
            
              </div>
            </div>
          </nav>


  <form  action="{% url 'searchResult' %}" method="post"> 
    {% csrf_token %}      
    <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">

      <div class="modal-dialog" role="">

        <div class="modal-content" >

          <div class="modal-header">
            <h5 class="modal-title" id="">Filter Search</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body" style="height: 100%;" style="padding: 0rem 2rem 0rem 2rem">
            <div class="row" >
              <div class="col-md-6">
                <h6> Categories</h6>
                
                <select class="form-control" name="category">
                  <option selected value="0">Select Ccategory</option>
                  {% for category in categories %}<option value="{{category.categoryId}}">{{category.categoryName}}</option> {% endfor %}
                  
                </select>
               
              </div>
              <div class="col-md-6">
                <h6> Services</h6>
                <select class="form-control" name="service">
                  <option selected value="0">Select Service</option>
                  {% for service in services %}<option value="{{service.serviceId}}">{{service.serviceName}}</option> {% endfor %}
                  
                </select>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6" >
                <h6> Reviews</h6>
                <select class="form-control" name ="review">
                  <option value=0>No reviews</option>
                  <option value=1>1</option> 
                  <option value=2>2</option> 
                  <option value=3>3</option> 
                  <option value=4>4</option> 
                  <option value=5>5</option> 
                </select>
              </div>
              <div class="col-md-6">
                <h6>Country</h6>
                <select class="form-control" name="country">
                  <option selected value="0">Select Country</option>
                  {% for country in countries %}<option value="{{country.countryId}}">{{country.countryName}}</option> {% endfor %}

                
                  
                </select>
              </div>
              
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6">
                <h6> Budgets</h6>
                <input class="form-control" type="number" name="budget">
              </div>
              <div class="col-md-6">
                <h6>Search</h6>
                <input class="form-control" type="text" value="{{ request.session.input_value }}" name="query">
              </div>
              
            </div>
            
          </div>
          <div style="padding: 1rem;" style="float: right;">
          <button type="submit" class="btn btn-primary"  style="float: right;">Apply Filter</button><br>
        </div>
        </div>
      </div>
    </div>
</form>



        
         
            
        

          
           

            
          
         
          
